
.chart-title {
    text-anchor:middle;
    font-weight:bold;
}

.title {
    text-anchor:middle;
}
.chart {
    display:inline-block;
}

.tooltip-content {
    background: white;
    border: 1px solid black;
    color: black;
    padding: 10px;
    z-index: 99;
    min-width: 120px;
}
  
.tooltip-content:before {
    background: white;
    content: '';
    padding: 0px;
    transform: rotate(45deg);
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 99;
}

.heatrects {
    rx:15;
    ry:15;
}